<div class="navbar--secondary">
  <nav class="navbar d-block navbar-light p-0">
    <div class="p-0">
      <ul class="navbar-nav flex-row">
        <li class="nav-item">
          <a class="text-dark active" href="/projects/browse?sort_by=title&sort_order={{ title }}">이름</a>
          <svg xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
            focusable="false" width="1em" height="1em"
            style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
            preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512">
            <path fill="none" stroke="#626262" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="32"
              d="M464 208L352 96L240 208"></path>
            <path fill="none" stroke="#626262" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="32" d="M352 113.13V416">
            </path>
            <path fill="none" stroke="#626262" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="32"
              d="M48 304l112 112l112-112"></path>
            <path fill="none" stroke="#626262" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="32" d="M160 398V96"></path>
          </svg>
        </li>
        <li class="nav-item" style="margin-left: 1.5rem;">
          <a class="text-dark" href="/projects/browse?sort_by=field_year_month_value&sort_order={{ field_year_month }}">시간</a>
          <svg xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
            focusable="false" width="1em" height="1em"
            style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
            preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512">
            <path fill="none" stroke="#626262" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="32"
              d="M464 208L352 96L240 208"></path>
            <path fill="none" stroke="#626262" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="32" d="M352 113.13V416">
            </path>
            <path fill="none" stroke="#626262" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="32"
              d="M48 304l112 112l112-112"></path>
            <path fill="none" stroke="#626262" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="32" d="M160 398V96"></path>
          </svg>
        </li>
        <li class="nav-item" style="margin-left: 1.5rem;">
          <a class="text-dark active" href="/projects">분류</a>
          <ul class="list-unstyled">
            <li>책 / Book</li>
            <li>소책자 / Booklet</li>
            <li>브로슈어 / Brochure</li>
            <li>인쇄물 / Printed matters</li>
            <li>포스터 / Poster</li>
            <li>광고 / Ad</li>
            <li>웹사이트 / Website</li>
            <li>아이텐티티 / Identity</li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
