// Custom style for the Node component.
// -----------------------------------------------------------------------------
.node {
  ul {
    list-style: none;
    padding-left: 0;
  }
  &.project--full {
    #page--title, .project__field-info {
      margin-bottom: 2.5rem;
      @include media-breakpoint-down(sm) {
        margin-bottom: 32px;
      }
    }
    #image-gallery img {
      margin-bottom: 1.5rem;
      @include media-breakpoint-up(md) {
        margin-bottom: 16px;
      }
      @include media-breakpoint-up(xl) {
        margin-bottom: 18px;
      }
      @include media-breakpoint-up(xl) {
        margin-bottom: 24px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 10px;
      }
    }
    .project__field-year-month {
      .field__label {
        margin-right: .3rem;
      }
    }
    @include media-breakpoint-up(md) {
      #page--title, .project__field-info {
        font-size: 13px;
        line-height: 19px;
      }
      .project__field-info  {
        line-height: 23px;
      }
      .project__field-info-list {
        display: none;
      }
    }
    @include media-breakpoint-up(xxl) {
      #page--title, .project__field-info {
        font-size: 16px;
        line-height: 29px;
      }
      .project__field-info  {
        line-height: 23px;
      }
    }
    @include media-breakpoint-down(md) {
      margin-top: 16px;
      font-size: 12px;
      line-height: 19px;
      #page--title {
        font-size: 13px;
        line-height: 19px;
      }
    }
    @include media-breakpoint-down(sm) {
      margin-top: 10px;
      font-size: 12px;
      line-height: 21px;
      #page--title {
        font-size: 12px;
        line-height: 21px;
      }
      .project__field-info-list {
        display: none;
      }
    }
  }
}

.project--navbar {
  margin-top: 190px;
  margin-bottom: 20px;
  @include media-breakpoint-down(sm) {
    margin-top: 60px;
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 24px;
  }
}
