// project: Teaser
// -----------------------------------------------------------------------------
.project--teaser {
  line-height: 1.7;
  span {
    display: inline-block;
  }
}

// project: Full
// -----------------------------------------------------------------------------
.project--full {
  &--navbar {
    margin-bottom: 36px;
    &--titles {
      height: 14px;
    }
  }
}
