// Page: Content
// -----------------------------------------------------------------------------
.page--content {
  span {
    display: inline;
  }
}

.page.projects-browse {
  .block--bs21-content {
    padding-top: 133px !important;
  }
}

#bp_container {
  @include background-opacity($bg-color, 0.7);
}

#bp_count, #bp_caption {
  display: none;
}
