// Page: Layout
// -----------------------------------------------------------------------------

body {
  position: relative;
  background-color: #fcfcfc;
  &.#{&}--search {
    .block--bs21-primary-local-tasks,
    .block--bs21-content > #search-form,
    .block--bs21-content > h2 {
      display: none;
    }
  }
}

.container-fluid.page {
  padding: 0 40px 0 40px;
}

.page--header.sticky-top {
  padding-top: 40px;
}

.active {
  border-bottom: 1px solid $gray-600;
  padding-bottom: 3px;
}

.card--project {
  margin-bottom: 18px;
  span {
    margin-top: 10px;
  }
}
.same-height {
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */
  .col {
    display: table-cell;
  }
}

.block--content {
  padding-top: 133px;
  word-wrap: break-word;
  word-break: keep-all;
}

.navbar--secondary {
  margin-bottom: 105px;
}

#btn-top {
  cursor: pointer;
}

.nav-tabs .nav-link.active {
  padding-bottom: 0.5rem;
}

#page--title {
  font-size: .875rem;
  line-height: 1.42;
  letter-spacing: .3px;
}
