// Page: Footer
// -----------------------------------------------------------------------------
.page--footer {
  padding: 40px 0;
  @include media-breakpoint-up(xl) {
    padding-bottom: 36px;
  }
  @include media-breakpoint-down(sm) {
    padding: 0 0 21px 0;
    font-size: 12px;
  }
}
