// Page: Content
// -----------------------------------------------------------------------------
.page--content {
  span {
    display: inline;
  }
}


@include media-breakpoint-up(xxl) {
  .page.projects-browse {
    .block--bs21-content {
      padding-top: 23px !important;
    }
  }
}

// BigPicture FullScreen layer
#bp_container {
  @include background-opacity($white, 0.95);
}

#bp_aud, #bp_container img, #bp_sv, #bp_vid {
  height: 100% !important;
}

#bp_count, #bp_caption {
  display: none;
}
